body {
background-color: aliceblue;
   /* background-image: url(https://capybaraworld.files.wordpress.com/2021/02/capybaras-at-water-hole-llanos-region-colombia-1.jpg); */
   background-position: center;
   background-size: cover;
    color: black;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 50px;
    margin: 20px;
  }
  h1 {
    color: black;
    font-size: 25px;
    background-position: center;
    font-family: 'Kanit', sans-serif;
}
  
  .bluemadness {
    color: darkblue;
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    
  }
  #id {
    color: brown;
  }
  
  .card {
    text-align:center;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 25px;
   }

   .container {
   text-align: center;
   }
  
  ul {
   list-style-type: none;
   font-weight: 800;
  }
 
  img {
    border-radius: 10px;
    margin: 15px;
  }

  h2, h3 {
    font-style: italic;
    
  }
  h4{
   color: red;
   font-size: 30px
  }
<<<<<<< HEAD
=======
  
  
>>>>>>> 02a2ecdfb15327905ed4c1b1eef434dfd1a1114c
